body {
  color: #fff;
  font-family: Montserrat;
}

section, footer {
  min-height: 15em;
  padding: 0.2em 0;

}

.welcome-text {
  padding-top: 80px;
  left: 20;
}
.project-stories {
  padding-top: 80px;
  text-align: justify;
}

.profile-photo {
  display: flex;
  height: 440px;
  width: 460;
  justify-content: center;
  align-items: center;

}

.profile-photo img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --header-height: 3rem;
    --font-semi: 600;

    --first-color: #4070F4;
    --second-color: #0E2431;

    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;

    --mb1: .5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;
    --mb5: 2.5rem;
    --mb6: 3rem;

    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

*, ::before, ::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1, h2, p { margin: 10; }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a { text-decoration: none; }

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb2);
    margin-bottom: var(--mb4);
    text-align: center;
}

    .section-title::after {
        position: absolute;
        content: '';
        width: 64px;
        height: 0.18rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 2rem;
        background-color: var(--first-color);
    }

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb2);
    margin-right: var(--mb2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

.nav-item { margin-bottom: var(--mb4); }
.nav-link { position: relative; color: #ffffff; }
    .nav-link:hover { position: relative; }
        .nav-link:hover::after {
            position: absolute;
            content: '';
            width: 100%;
            z-index: 9999;
            height: 0.18rem;
            left: 0;
            top: 2rem;
            background-color: var(--first-color);
        }

.nav-logo { color: var(--second-color); }
.nav-toggle {
    color: var(--second-color);
    font-size: 3rem;
    cursor: pointer;
  z-index: 10;
}

.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
    z-index: 9999;
}

.home { height: calc(100vh - 3rem); row-gap: 1rem; }
.home-data { align-self: center; }
.home-title { font-size: var(--big-font-size); margin-bottom: var(--mb5); }
.home-title-color { color: black; }
.home-social { display: flex; flex-direction: column; }
.home-social-icon {
    width: max-content;
    margin-bottom: var(--mb2);
    font-size: 1.5rem;
    color: var(--second-color);
    transition: .3s;
}

    .home-social-icon:hover { color: var(--first-color); }

.home-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

    .home-img img {
        width: 295px;
        height: 295px;
        border-radius: 50%;
    }

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #ffffff;
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
}

    .button:hover { box-shadow: 0 10px 36px rgba(0, 0, 0, .15); }

/*ABOUT*/

.about-container { row-gap: 2rem; text-align: center; }
.about-subtitle { margin-bottom: var(--mb2); }
.about-img { justify-self: center; }
    .about-img img { width: 200px; border-radius: .5rem; }

/*SKILLS*/

.skills-container { row-gap: 2rem; text-align: center; }
.skills-subtitle { margin-bottom: var(--mb2); }
.skills-text { margin-bottom: var(--mb4); }
.skills-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills-icon {
    font-size: 2rem;
    margin-right: var(--mb2);
    color: var(--first-color);
}

.skills-names {
    display: flex;
    align-items: center;
}

.skills-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

.skills-html { width: 95%; }
.skills-css { width: 85%; }
.skills-js { width: 65%; }
.skills-ux { width: 85%; }
.skills-img { border-radius: .5rem; }

/*WORK*/

.work { text-align: center; }
.work-container { row-gap: 6rem; }
.work-img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    
    
}
    .work-img img { transition: 1s; cursor: pointer; }
        .work-img img:hover { transform: scale(1.1); }

/*CONTACT*/
.contact-input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb4);
}

.contact-button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}

/*FOOTER*/

.footer {
    background-color: var(--second-color);
    color: #ffffff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

.footer-title {
    font-size: 2rem;
    margin-bottom: var(--mb4);
}

.footer-social { margin-bottom: var(--mb4); }

.footer-icon {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 var(--mb2);
}

/*MEDIA QUERIES*/

@media screen and (min-width: 769px) {
    body { margin: 0; }
    .section { padding-top: 4rem; padding-bottom: 3rem; }
    .section-title { margin-bottom: var(--mb6); }
        .section-title::after { width: 80px; top: 3rem; }

    .nav { height: calc(var(--header-height) + 1rem); }
    .nav-list { display: flex; padding-top: 0; }
    .nav-item { margin-left: var(--mb6); margin-bottom: 0; }
    .nav-toggle { display: none; }
    .nav-link { color: var(--second-color); }

    .home { height: 100vh; }
    .home-data { align-self: flex-end; }

    .home-social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home-social-icon { margin-bottom: 0; margin-right: var(--mb4); }
    .home-img { width: 457px; height: 475px; bottom: 15%; }

    .about-container, .skills-container { 
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }

    .about-img img { width: 300px; }

    .work-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact-form { width: 460px; }
    .contact-container { justify-items: center; }
}

@media screen and (min-width: 1024px) {
    .bd-grid { margin-left: auto; margin-right: auto; }
    .home-img { right: 10%; }
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }

    .show { right: 0; }
}

.logo-circle {
  
  background-color: fafafa;
  padding: 2px 6px;
  border-radius: 27%;
}

footer {
  color: black;
}

.text-xl {
  font-size: 3.5em;
}

.section-title {
  margin-bottom: 1.5em;
}

.icons {
  font-size: 2rem;
  
}
.icons > a {
  padding: 0 1em;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
 position: sticky;
  top: 0;
 bottom: 10;
 z-index: 12;
 height: 72px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: Montserrat;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #ddd;
  
}

/* Add an active class to highlight the current page */
.topnav a.logo {
  color: #dddddd;
  float: left;
  font-size: 18px;
 text-style: bold;
  font-family: Montserrat;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* Hide the link that should open and close the topnav on small screens */
.header .icon {
  display: none;
}



/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #272727;
  padding: 5px 5px;
  font-family: Montserrat;
  height: 3.6%;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Style the header links */
.header a {
  float: left;
  color: #dddddd;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  border-radius: 4px;
  font-family: Montserrat;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

 /* Style the navigation menu */
.top-navigation {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.top-navigation #myLinks {
  display: none;
}

/* Style navigation menu links */
.top-navigation a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.top-navigation a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.top-navigation a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
} 




.project-stories {
  width: 50%;
  margin: auto;
  font-family: Montserrat;
}

.project-stories p {
  color:  #424A4D;
  padding: 5px;
  margin: 1%;
}

.project-stories h1 {
  font-family: Montserrat;
  font-size: 19px;
  color:  #424A4D;
  padding-top: 15px;
  font-style: bold;
  text-align: center;
}

@media only screen and (max-device-width: 480px){

   .project-stories { 
      width: 90%; 
   }

}

@media only screen and (min-width: 768px) {
    .project-stories { 
      width: 50%; 
   }

}


.column {
  float: left;
  width: 25%;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} 

:root {
    --dark-color-h: 334.29;
    --dark-color-s: 32.03%;
    --dark-color-l: 30%;
    --light-color-h: 19.2;
    --light-color-s: 30.86%;
    --light-color-l: 84.12%;
    --dark-color: hsl(var(--dark-color-h), var(--dark-color-s), var(--dark-color-l));
    --light-color: hsl(var(--light-color-h), var(--light-color-s), var(--light-color-l));
    --bg-color: var(--dark-color);
    --text-color: var(--light-color);
    --resources-bg-color: hsla(var(--dark-color-h), var(--dark-color-s), calc(var(--dark-color-l) - 10%), 0.75);
    --resources-active-color: color-mix(in srgb, var(--light-color) 75%, transparent);
    --resources-color: var(--text-color);
}

*,
::after,
::before {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.no-scroll {
    background: hsl(var(--dark-color-h), var(--dark-color-s), calc(var(--dark-color-l) - 10%));
    scrollbar-gutter: stable;
}

html.no-scroll body {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

body {
    background-COLOR: white;
    color: #272727;
    font-family: Montserrat;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.wrapper {
    display: block;
    margin: 2rem auto;
    max-width: 75rem;
    position: relative;
    width: calc(100% - 1rem);
}

simple-masonry {
    --column-count: 4;
    --grid-gap-horizontal: 1.5rem;
    --grid-gap-vertical: 1.5rem;
    counter-reset: masonry-counter;
    display: grid;
    position: relative;
    width: 100%;
}

simple-masonry+simple-masonry {
    margin-top: calc(var(--grid-gap-vertical) * 4);
}

.grid-item {
    background-color: white;
    counter-increment: masonry-counter;
    grid-area: 1/-1;
    overflow: hidden;
    position: relative;
}

.grid-item a {
    cursor: pointer;
}

.grid-item::after {
    align-items: center;
    background-color: black;
    border-radius: .125rem;
    bottom: .25rem;
    color: black;
    content: counter(masonry-counter);
    display: flex;
    font-size: .325rem;
    height: 1.5rem;
    justify-content: center;
    line-height: 1.5rem;
    position: absolute;
    right: .25rem;
    text-align: center;
    width: 1.5rem;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    color: black;
    display: block;
    font: 0/0 a;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    outline: none;
    padding: 0;
    position: relative;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 100%;
}

.lg-backdrop {
    background-color: white;
}
.resources-layer {
    bottom: 0;
    display: block;
    position: fixed;
    right: 0;
    z-index: 1000;
}

.resources {
    background: black;
    display: grid;
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    font-size: .6875rem;
    font-weight: 300;
    grid-auto-flow: column;
    line-height: 1.3;
    padding: .5rem;
    pointer-events: auto;
}

.resources a {
    align-content: center;
    display: grid;
    justify-content: center;
    padding: 0 .5rem;
    place-content: center;
    transition: color .2s ease-in-out;
}

.resources p {
   color: white;
}

.resources a,
.resources a:visited {
    color: var(--resources-color);
}

.resources a:active,
.resources a:focus-visible {
    color: var(--resources-active-color);
}

.resources a:focus-visible {
    outline: none;
}

.resources a:not(:first-child) {
    border-inline-start: thin solid currentColor;
}

@media (max-width:75.04875em) {
    simple-masonry {
        --column-count: 4;
        --grid-gap-horizontal: 1.25rem;
        --grid-gap-vertical: 1.25rem;
    }
}

@media (max-width:51.29875em) {
    simple-masonry {
        --column-count: 3;
        --grid-gap-horizontal: 1rem;
        --grid-gap-vertical: 1rem;
    }
}

@media (max-width:36.04875em) {
    simple-masonry {
        --column-count: 2;
        --grid-gap-horizontal: 0.75rem;
        --grid-gap-vertical: 0.75rem;
    }
}

@media (hover:hover) and (pointer:fine) {

    .resources a:active:not(:hover),
    .resources a:hover {
        color: var(--resources-active-color);
    }
}









.section-heading h6 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-heading h2 {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 0px;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
  background-color: #fff;
  height: 80px!important;
  position: fixed!important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #1e1e1e!important;
}

.background-header .main-nav .nav li:hover a {
  color: #5fb759!important;
}

.background-header .nav li a.active {
  color: #5fb759!important;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav .search-icon {
  float: right;
  margin-left: 15px;
}

.header-area .main-nav .nav .search-icon a {
  background-color: #fff;
  color: #5fb759;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
}

@media (max-width: 767px) {
  .header-area .main-nav .nav .search-icon {
    float: none;
    text-align: center;
    width: 100%;
    background-color: #fff;
    margin-left: 0px;
  }
}

.header-area .main-nav .nav .search-icon a:hover {
  opacity: 1;
  color: #5fb759!important;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #7a7a7a;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
  color: #fff;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #fff!important;
  opacity: 0.5;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #5fb759!important;
  opacity: 1;
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 35px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: #fff;
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
  color: #7a7a7a;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #fff;
  color: #7a7a7a!important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: #5fb759!important;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a.active {
  color: #5fb759;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #5fb759!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #5fb759!important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}






.player {
  width: 600px;
  height: 337px;
  position: ;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  video {
    width: 600px;
    height: 337px;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    border: 10px solid #000;
    box-shadow: 0 0 10px #000;
  }
  canvas {
    position: absolute;
    width: 600px;
    height: 337px;
    transform: scale(1.2);
    -webkit-filter: blur(50px);
    opacity: 0.75;
    z-index: -1;
  }
}


